# POSTGRES_DB=kittygram
# DB_ENGINE=django.db.backends.postgresql
# POSTGRES_USER=kittygram_user
# DB_HOST=postgres
# POSTGRES_PASSWORD=kittygram_password

# DB_PORT=5432
# SECRET_KEY=bla_bla_bla_bla_bla_bla_bla_bla_bla_bla_bla_bla_bla_bla_bla
# DEBUG=False
# ALLOWED_HOSTS=localhost,127.0.0.1,51.250.113.55
# CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://51.250.113.55:9000

POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=kittygram_password
DB_ENGINE=django.db.backends.postgresql
DB_NAME=kittygram
DB_HOST=postgres
DB_PORT=5432
SECRET_KEY=DCPWQkbaX4PjUDoSeL6PWtvYAQ12e63vZ9-C2iHuCRvJ0j31Q75lbx6yIcdxxvSb1Wc
DEBUG=False
ALLOWED_HOSTS=51.250.11.124,localhost
CSRF_TRUSTED_ORIGINS=http://51.250.11.124:9000,http://localhost:9000
