#бд
POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=kittygram_password
DB_HOST=db
DB_PORT=5432
PAGE_SIZE=10
DB_ENGINE=django.db.backends.postgresql

# Django
SECRET_KEY=django_bla_bla_bla_bla_bla
DEBUG=False
ALLOWED_HOSTS=51.250.113.55,localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://51.250.113.55:9000