POSTGRES_DB=kittygram
DB_ENGINE=django.db.backends.postgresql
POSTGRES_USER=kittygram_user
DB_HOST=postgres
DB_PORT=5432

SECRET_KEY=bla_bla_bla_bla_bla_bla_bla_bla_bla_bla_bla_bla_bla_bla_bla
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,51.250.113.55
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://51.250.113.55:9000
