# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
.venv/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker volumes
data/
pg_data/
static/
media/

# Environment variables
.env
.env.local
.env.production
.env.development

# Django
*.sqlite3
staticfiles/
mediafiles/
db.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
infra/terraform.tfvars
infra/authorized_key.json
backend/venv/
